<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Favorite Pokemon</title>
    <link rel="stylesheet" href="/public/style.css">
</head>

<body>
	<h1>What's your favorite Pokemon?</h1>
    <p>To choose your Pokemon visit <a href="/favoritepokemon">here.</a></p>
    <p>To find a trainer's favorite pokemon visit <a href="/reviewfavorite">here.</a></p>
</body>

</html>
