<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Trainer's favorite</title>
    <link rel="stylesheet" href="/public/style.css">
</head>

<body>
	<h1>Favorite Pokemon</h1>
    
    <strong>Trainer name: </strong><%- trainer %><br>
    <strong>Pokemon: </strong><%- favpokemon %><br>
    <strong>Type: </strong><%- type %><br>
    <img src="<%- url %>" height="288"><br>
    
    <hr>
    <a href="/">HOME</a>
</body>

</html>
