<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Review favorite</title>
	<link rel="stylesheet" href="/public/style.css">
</head>

<body>
	<h1>Find a trainer's favorite Pokemon</h1>
	<form action="/processreview" method="post">
        <fieldset><strong>Trainer's name: </strong><input type="text" name="trainer">
        </fieldset>
        <br>
		<input type="submit" value="Submit Application"/>
	</form>
    <hr>
    <a href="/">HOME</a>
</body>

</html>
